/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
//@import "font-awesome";

$basketball-color: #ED6826;

a {
  color: $basketball-color;
}

a.button.is-basketball {
  background-color: $basketball-color;
  color: white;
}

a.button.is-basketball:hover {
  background-color: #DD5715;
  color: white;
}

a.button.is-basketball:active {
  border-color: white;
}

a.button.is-basketball:focus {
  border-color: $basketball-color;
}

.video {
  position: relative;
  height: 0;
  padding: 30px 0 56.25%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.top {
  section.hero.top-image {
    border-bottom: 1px solid #dbdbdb;

    .hero-body {
      img {
        max-width: 350px;
      }
    }
  }

  section.hero.is-bold.link-to-lp {
    background-image: image-url("top/explanation.jpg");
    background-size: cover;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    .hero-body {
      h1.title {
        color: white;
      }

      h2.subtitle {
        color: white;
      }
    }
  }

  @media(max-width:374px) {
    .hero-body {
      h1.title {
        font-size: 1.8rem;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

// show-lesson
.show-lesson {
  .lesson-buttons {
    margin-bottom: 1.5rem;
  }
}

//footer

footer.footer {
  padding-bottom: 1.5rem;

  img {
    max-width: 200px;
  }

  ul {
    list-style: none;

    li {
      p.title {
        font-size: 1rem;
        font-weight: bold;
      }

      a {
        color: black;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .copy-right {
    font-size: 0.9rem;
  }
}
