/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.top {
  section.hero.is-medium.is-bold.top-image {
    background-image: image-url("top/top-background.jpg");
    background-size: cover;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    .hero-body {
      h1.title {
        color: white;
      }

      h2.subtitle {
        color: white;
      }
    }
  }

  section.hero.is-bold.link-to-lp {
    background-image: image-url("top/link-to-lp.jpg");
    background-size: cover;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    .hero-body {
      h1.title {
        color: white;
      }

      h2.subtitle {
        color: white;
      }
    }
  }
}
